<div class="banner">
    <span>
        <a href="/">Autonomous Vehicle Research</a>
    </span>

    <div class="dropmenu">
        <ul id="ul">
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/professor">MEMBERS</a>
                <ul>
                    <li>
                        <a href="/professor">PROFESSOR</a>
                    </li>
                    <li>
                        <a href="/researchers">RESEARCHERS</a>
                    </li>
                </ul>
            <li>
                <a href="/publications">PUBLICATIONS</a>
            </li>
            <li>
                <a href="/researches">RESEARCH</a>
            </li>
            <li>
                <a href="/activities">ACTIVITIES</a>
            </li>
        </ul>
    </div>
</div>
