<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>AVR자율주행연구실</title>

    <link rel="stylesheet" type="text/css" href="./css/banner.css">
    <style>
        .icon {
            display: inline-block;
            width: 400px;
            margin: 30px;
        }

    </style>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {
            <%- include ('jBanner') %>
        });

    </script>
</head>

<body>
    <%- include ('banner') %>
    <div style="display: inline-block; height: 70px;">hide</div>

    <div style="display: inline-block; height: 70px;">hide</div>

    <div style="display: inline-block; text-align: center; width: 100%;  height: 130px;  padding-top: 7%; background: white;">
        <div style="font-size: 2rem;">
            PUBLICATIONS<br>
            <hr>
            <div style="font-size: 0.6rem;">
               <br>
                M. Turkoz, S. Kim, Y.S. Jeong, M.K. Jeong, E.A. Elsayed, “Bayesian framework for fault variable identification,” Journal of Quality Technology, Accepted for publication.<br><br>
                Y. S. Jeong, 2019, “Wavelet-Based Dimensionality Reduction for Multiple Sets of Complicated Functional Data,” Industrial Engineering & Management Systems, 18, 2, 252-259.<br><br>
                S.-H Lee, Y.S. Jeong*, J.-Y. Kim, and M.K. Jeong, 2018, “A new clustering validity index for arbitrary shape of clusters,” Pattern Recognition Letters, 112, 263-269.<br><br>
                Y. S. Jeong, M. K. Jeong, J.-C. Lu, M. Yuan, and J. Jin, 2018, “Statistical process control procedures for functional data with systematic local variations,” IISE Transactions, 50, 5, 448-462.<br><br>
                Y. S. Jeong, 2017, “Semiconductor wafer defect classification using support vector machine with weighted dynamic time warping kernel function,” Industrial Engineering & Management Systems, 16, 3, 420-426.<br><br>
                M. Turkoz, S. Kim, Y. S. Jeong*, K. Al-Khalifa, A. Hamouda, 2016, “Distribution-free adaptive step-down procedure for fault identification,” Quality and Reliability Engineering International, 32, 8, 2701-2716.<br><br>
                T. Park, B. Yum, Y. Hung, Y. S. Jeong, and M. K. Jeong, 2016, “Robust kriging models in computer experiments,” Journal of the Operational Research Society, 67, 6, 644-653.<br><br>
                B. Kim, Y. S. Jeong*, S. H. Tong, I.-K. Chang, and M. K. Jeong, 2016, “Step-down spatial randomness test for detecting abnormalities in DRAM wafers with multiple spatial maps,” IEEE Transactions on Semiconductor Manufacturing, 29, 1, 57-65.<br><br>
                Y. S. Jeong*, S. Hwang, Y.-D. Ko, 2015, “Quantitative analysis for plasma etch modeling using optical emission spectroscopy: Prediction of plasma etch responses,” Industrial Engineering & Management Systems, 14, 4, 1-9.<br><br>
                F. Adly, O. Alhussein, P.D. Yoo, Y. Al-Hammadi, K. Taha, S. Muhaidat, Y.S. Jeong, U. Lee. and M. Ismail, 2015, “Simplified subspaced regression network for identification of defect patterns in semiconductor wafer maps,” IEEE Transactions on Industrial Informatics, 11, 6, 1267-1276.<br><br>
                Y. S. Jeong, B. Kim, S. H. Tong, I.-K. Chang, and M. K. Jeong, 2015, “Quantifying the risk level of functional chips in DRAM wafers,” IEEE Intelligent Systems, 30, 6, 21-24.<br><br>
                B. Kim, Y. S. Jeong*, S. H. Tong, I.-K. Chang, and M. K. Jeong, 2015, “A regularized singular value decomposition-based approach for failure pattern classification on fail bit map in a DRAM wafer,” IEEE Transactions on Semiconductor Manufacturing, 28, 1, 41-49.<br><br>
                Y. S. Jeong, K. S. Shin, and M.K. Jeong, 2015, "An evolutionary algorithm with the partial sequential forward floating search mutation for large scale feature selection problems," Journal of the Operational Research Society, 66, 4, 529-538.<br><br>
                Y. S. Jeong* and R. Jayaraman, 2015, "Support vector-based algorithms with weighted dynamic time warping kernel function for time series classification," Knowledge-Based Systems, 75, 184-191.<br><br>
                Y. S. Jeong, Y. J. Byon, M. Castro-Neto, and S. Easa, 2013, "Online learning weighted support-vector regression for short-term traffic flow prediction," IEEE Transactions on Intelligent Transportation Systems, 14, 4, 1700-1707.<br><br>
                Y. S. Jeong, B. H. Kim, and Y.D. Koh, 2013, " Exponentially weighted moving average-based procedure with adaptive thresholding for monitoring nonlinear profiles: Monitoring of plasma etch process in semiconductor manufacturing," Expert Systems with Applications, 40, 14, 5688-5693.<br><br>
                Y. S. Jeong, I. H. Kang, M. K. Jeong, and D.J. Kong, 2012, "A new feature selection method for one-class classification problems," IEEE Transactions on Systems, Man, and Cybernetics--Part C: Applications and Reviews, 42, 6, 1500-1509.<br><br>
                M. Castro-Neto, Lee D. Han, Y. S. Jeong, and M. K. Jeong, 2012, "Toward training-free automatic detection of freeway incidents: Simple algorithm with one parameter,” Transportation Research Record: Journal of the Transportation Research Board, 2278, 42-49.<br><br>
                N. Kim, Y. S. Jeong, M. K. Jeong, and T. M. Young, 2012, "Kernel ridge regression with lagged dependent variable: Applications to prediction of internal bond strength in a medium density fiberboard process," IEEE Transactions on Systems, Man, and Cybernetics--Part C: Applications and Reviews, 42, 6, 1011-1021.<br><br>
                K. S. Shin, Y. S. Jeong*, and M. K. Jeong, 2012, "A two-leveled symbiotic evolutionary algorithm for clustering problems," Applied Intelligence, 36, 4, 788-799.<br><br>
                Zheng Du, Y. S. Jeong, M. K. Jeong, and S. G. Kong, 2012, "Multidimensional local spatial autocorrelation measure for integrating spatial and spectral Information in hyperspectral image band selection," Applied Intelligence, 36, 3, 542-552.
                W. A. Chaovalitwongse, Y. S. Jeong, M. K. Jeong, S. F. Danish, and S. Wong, 2011, “Pattern recognition approaches for identifying subcortical targets of deep brain surgery,” IEEE Intelligent Systems, 26,5, 54-63.<br><br>
                J. I. Park, L. Liu, X. P. Ye, M. K. Jeong, and Y. S. Jeong*, 2011, "Improved prediction of biomass composition for switchgrass using reproducing kernel methods with wavelet compressed FT-NIR spectra," Expert Systems with Applications, 39, 1, 1555-1564.<br><br>
                Y. S. Jeong, M. K. Jeong, and O. A. Omitaomu, 2011, "Weighted dynamic time warping for time series classification," Pattern Recognition, 44, 4, 2231-2240. (Invited as a best student paper competition finalist at Data Mining (DM) session in 2010 INFORMS)
                Y. S. Jeong, M. Castro-Neto, M. K. Jeong, and Lee D. Han, 2011, "Wavelet based incident detection algorithm with adapting threshold parameters," Transportation Research Part C, 19, 1, 1-19.<br><br>
                Y. Fang, J. I. Park, Y. S. Jeong, M. K. Jeong, S. H. Baek, H. W. Cho, 2011, “Enhanced predictions of wood properties using hybrid models of PCR and PLS with high-dimensional NIR spectral data,” Annals of Operation Research, 190, 1, 3-15.
                Y. S. Jeong, C. Lee, N. Kim, and K. Lee, 2010, "Remote health monitoring system for prediction of Parkinson’s disease severity using signomial regression," IE Interface, 23, 4, 365-361. (received the BaekAm Engineering Award by Korean Institute of Industrial Engineers)<br><br>
                S. H. Choi, Y. S. Jeong, and M. K. Jeong, 2010, "A hybrid recommendation method reduced data for large-scale application," IEEE Transactions on Systems, Man, and Cybernetics-Part C: Applications and Reviews, 40, 5, 557-566.<br><br>
                Y. D. Ko, Y. S. Jeong, M. K. Jeong, A. Garcia-Diaz, and B. W. Kim, 2010, "Functional kernel based modeling of wavelet compressed optical emission spectral data: Prediction of plasma etch process," IEEE Sensors Journal, 10, 3, 746-754.<br><br>
                J. S. Fenner, Y. S. Jeong, M. K. Jeong, and J.-C. Lu, 2009, "A Bayesian parallel site methodology with an application to uniformity modeling in semiconductor manufacturing," IIE Transactions on Quality and Reliability, 41, 9, 754-763. (Selected as the featuring article in the IE Magazine on Aug., 2009).<br><br>
                M. Castro-Neto, Y. S. Jeong, M. K. Jeong, and Lee D. Han, 2009, "Annual average daily traffic (AADT) prediction using support vector regression with data-dependent parameters,” Expert Systems with Applications, 36, 2979-2986.<br><br>
                M. Castro-Neto, Y. S. Jeong, M. K. Jeong, and Lee D. Han, 2009, "Online-SVR for short term traffic flow prediction under typical and atypical traffic conditions," Expert Systems with Applications, 36, 6164-6173.<br><br>
                Y. S. Jeong, S. J. Kim, and M. K. Jeong, 2008, "Automatic identification of defect patterns in semiconductor wafer maps using spatial correlogram and dynamic time warping," IEEE Transactions on Semiconductor Manufacturing, 21, 4, 625-637.(Invited as a best student paper competition finalist at Quality, Statistics and Reliability (QSR) session in 2008 INFORMS)<br><br>

                Publications in Domestic Journals
                Y. S. Jeong, C. Lee, N. Kim, and K. Lee, 2010, "Remote health monitoring system for prediction of Parkinson’s disease severity using signomial regression," IE Interface, 23, 4, 365-361. (received the BaekAm Technology Award by Korean Institute of Industrial Engineers)<br><br>
            </div>
            <hr width="8%">
        </div>
    </div>

    <%- include ('footer') %>
</body>

</html>
